  <!--
  Tela de criação de senha
 -->

<ion-view style="" id="page5" title="NOVA SENHA"  class="fundo text-center">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-icon icon ion-ios-arrow-back">Back</ion-nav-back-button>
  </ion-nav-bar>
    <ion-content class="has-header" padding="true" ng-controller="criarSenhaCtrl">
      <div class="logo">
        <img src="img/logo.png"  class="logo" />
      </div>
      <div style="width: 286px; height: 15px;" class="spacer"></div>
      <ion-list style="">
        <form style="" class="list" ng-controller="criarSenhaCtrl">


                <label class="item-input item-floating-label">

                  <span class="input-label field-login">Nova Senha</span>
                  <input class="placeholder-login" placeholder="Digite sua nova senha"  type="number" ng-model="novaSenha" style="font-size: 1.5em;">
                </label>
                <div style="height: 15px" class="spacer"></div>

            </ion-list>
              <!-- cadastra uma nova senha  -->
            <a ng-click="criar()" class="button button-positive  button-block btn-entrar" ng-disabled="!novaSenha">Criar Senha</a>
        </form>
    </ion-content>
</ion-view>
