<ion-view style="" class=" " id="page4" title="Fechar corrida">
    <ion-content class="has-header" padding="true" ng-controller="fecharCorridaCtrl">
      <div class="card">
        <div class="image item-image">
          <img ng-src="{{imageCamera}}" ng-model="imagem" />
        </div>
      </div>
        <button class=" button button-positive  button-block " id="novaCorrida-button5" ng-click="pegarFoto()">Tirar foto</button>
        <form style="" class="list">
            Km:
            <label style="" class="item item-input">
                <input ng-model="mileage" placeholder="Informar KM" type="number" />
            </label>

            <div style="width: 283px; height: 30px;" class="spacer"></div>

              <p>
                <b class="text_align_and_color_alert">{{"&nbsp;CARRO:&nbsp;&nbsp;&nbsp;&nbsp;"+ carroGravado.Placa + " - " + carroGravado.Modelo}}</b>
              </p>

              </form>
              <button ng-click="finalizaCorrida()" class="button button-assertive  button-block" id="abrirCorrida-button4">Fechar</button>
    </ion-content>
</ion-view>
