<!--
Tela de login usando tags em ionic
 -->
<ion-view style="" class="fundo" id="page2" title="LOGIN">
  <ion-header-bar class="bar-positive">
    <h1 class="title">SYNCHRO - LOGIN</h1>
  </ion-header-bar>
    <ion-content class="has-header" padding="true" scroll="true" ng-controller="loginCtrl">
        <div style="width: 283px; height: 15px;" class="spacer"></div>
        <div class="">
            <!-- Logo da empresa -->
            <img class="logo" src="img/logo.png" height="auto" width="auto">
        </div>
        <div style="width: 283px; height: 15px;" class="spacer"></div>
        <form class="list " id="login-form3">

            <div class="list">
              <label class="item-input item-floating-label" id="login-input5">
                <span class="input-label field-login">CPF</span>
              <input class="placeholder-login" placeholder="Digite seu cpf" type="number" ng-model="usuario" style="font-size: 1.5em;">

              </label>

              <label class="item-input item-floating-label" id="login-input4">
                <span class="input-label field-login">SENHA</span>
                <input class="placeholder-login" placeholder="Digite a senha" type="password" ng-model="senha"  style="font-size: 1.5em;">
              </label>
            </div>
            <div style="width: 283px; height: 15px;" class="spacer"></div>
            <a class=" button button-calm  button-block btn-entrar" id="login-button3" ng-click="validarUsuario()" ng-disabled="!usuario">Entrar</a>

        </form>
    </ion-content>
</ion-view>
