<!--
  Tela de abertura de corrida, recupera a imagem do painel, o valor do km e qual o carro esta sendo usado
 -->
<ion-view style="" class="fundo text-center" title="NOVA CORRIDA" id="page3">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-icon icon ion-ios-arrow-back">Back</ion-nav-back-button>
  </ion-nav-bar>
  <!-- <ion-header-bar class="bar-positive">
    <h1 class="title text-center">NOVA CORRIDA</h1>
  </ion-header-bar> -->
    <ion-content class="has-header" padding="true" scroll="true" ng-controller="novaCorridaCtrl">
        <!--Retorna a imagem recureda pela camêra -->
        <div class="image item-image">
            <!--Retorna a imagem recuperada pela camêra -->
            <img ng-src="{{imageCamera}}" ng-model="imagem" class="status-run" />
        </div>

        <div style="width: 283px; height: 15px;" class="spacer"></div>

        <!-- Botão para se abrir a camêra -->
        <button class="button button-calm  button-block btn-entrar icon ion-android-camera status-run" id="novaCorrida-button5" ng-click="pegarFoto()"></button>

        <div class="list">
          <label class="item-input item-floating-label">
          <span class="input-label field-login">KM</span>
          <input class="placeholder-login" placeholder="Digite o km"  type="number" ng-model="mileage" style="font-size: 1.5em;">
          </label>
        </div>
        <div class="list">
            <div ng-show="visivel">
              <p class="text-center" style="font-size: 1.1em;"><b>{{selected.PLACA +" - "+ selected.MODELO}}</b></p>
              <p class="text-center stable"><b>Sua última seleção de veículo, se for manter toque em iniciar, se não escolha outro veículo.</b></p>
            </div>
            <label>
          <p style="color: #ccc; font-weight: bold; text-align: center;">Seleciona o veículo:</p>
        <!-- Uma combo box com todos os modelos de carros com placas e modelos -->
          <select class="select-config status-run" ng-model="car" ng-options="veiculo.PLACA+' - '+veiculo.MODELO for veiculo in lista" id="comboBox" style="font-size: 1.1em;">
            <option value="">Placa - Modelo</option>
          </select>
       </label>

        </div>
        <div style="width: 283px; height: 5px;" class="spacer"></div>

        <button ng-click="addCorrida()" class="button button-balanced button-block btn-entrar status-run" id="abrirCorrida-button4" ng-disabled="load">
          <ion-spinner icon="lines" ng-show="load"></ion-spinner>
          <span ng-hide="load">{{ iniciar }}</span>
        </button>
    </ion-content>
</ion-view>
