/* Empty. Add your own CSS if you like */

.alerta{
  color: rgb(255, 0, 0);
  text-align: center;
}

.text-color{
  color: #00d63c;
  background-color: rgba(109, 233, 89, 0.2);
  border: 1px solid rgb(20, 255, 0);
}
